* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    font-family: 'Roboto', sans-serif;
    color: #e7d7ad;
}

body {
    background-color: #2C2F33;
}

header {
    background-color: #23272A;
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}


.navbarContainer .navbarList {
    display: flex;
    list-style-type: none;
}


.navbarContainer .navbarListitem {
    display: inline-block;
    padding: 16px;
}

.navbarContainer a {
    text-decoration: none;
}

.navbarContainer a:hover {
    color: orangered;
    transition: all .5s;
}

.active {
    color: orangered;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}

.content .content-left {
    flex: 0.5;
}

img {
    max-width: 100%;
}

.nameh1 {
    text-transform: uppercase;
    color: orange;
}

.nameh2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: orangered;
}

.quote {
    font-style: italic;
}

.content-wp {
    display: flex;
    flex-direction: column;
    align-items: center;
}